nav a {
    list-style-type: none;
    color:#243748;
    margin: 0; 
    padding: 0; 
    margin-top: auto;
}
a {
    list-style-type: none;
    color:#243748;
    margin: 0; 
    padding: 0; 
    margin-top: auto;
}
.logo img {
    max-width: 130px; 
    height: auto; 
}
header {
    background-color: #f2f2f2;
    padding: 10px 20px; 
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between; 
}
body{
    font-family: 'Bebas Neue', sans-serif;
}
.btn-primary {
    background-color: #f28705;
    border-color: #cd2c2e;
    transition: background-color 0.3s, transform 0.3s;
}